@font-face {
    font-family: 'Guardian Sans Cy';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('~assets/fonts/Guardian Sans Cy-Regular.woff2') format('woff2');
}